# Gemeinsame Umgebungsvariablen

# Backend
DB_HOST=db
MYSQL_DATABASE=erp_db
MYSQL_USER=erp_user
MYSQL_PASSWORD=erp_password
MYSQL_ROOT_PASSWORD=rootpassword
PORT=3000
JWT_SECRET=your_jwt_secret
BACKEND_PORT=3000

# Frontend (Vite)
VITE_API_URL=http://localhost:3000
VITE_HMR_HOST=localhost
FRONTEND_PORT=5173
